@media only screen and (min-width: 992px){

    header{
        text-align: center;
    }


    main{
        width: 50%;
        justify-self: center;
        padding-left:20px;
        grid-template-rows: repeat(auto-fit, 1fr);
    }




    .user_repo_list a:hover{
        color:rgb(247, 247, 247);
        background-color: rgb(77, 80, 253);
    }


    .user_data_list a:hover{
        color:rgb(247, 247, 247);
        background-color: rgb(77, 80, 253);
    }

    footer{
        display:grid;

    }
    footer ul{
        justify-self: center;
        width: 40%;
    
    }

    

}